# Frontend
node_modules/
dist/
.env
.env.local

# Backend .NET
bin/
obj/
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Ignore large media files
tunevault-backend/TuneVault.API/wwwroot/media/
tunevault-frontend/public/audio/
tunevault-frontend/public/videos/
*.mp4
*.mp3
*.wav
*.flac
*.mkv
*.mov
