USE [master]
GO
CREATE DATABASE [TuneVaultDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuneVaultDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TuneVaultDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TuneVaultDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TuneVaultDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuneVaultDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuneVaultDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CoverImageUrl] [nvarchar](max) NULL,
	[ReleaseDate] [datetime2](7) NULL,
	[AlbumType] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistManagers](
	[ArtistManagerId] [bigint] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ArtistManagers] PRIMARY KEY CLUSTERED 
(
	[ArtistManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Slug] [nvarchar](450) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[MediaItemId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follows](
	[FollowId] [bigint] IDENTITY(1,1) NOT NULL,
	[FollowerUserId] [nvarchar](450) NOT NULL,
	[TargetUserId] [nvarchar](450) NULL,
	[TargetArtistId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Follows] PRIMARY KEY CLUSTERED 
(
	[FollowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaArtists](
	[MediaItemId] [bigint] NOT NULL,
	[ArtistId] [int] NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[Position] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MediaArtists] PRIMARY KEY CLUSTERED 
(
	[MediaItemId] ASC,
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaItems](
	[MediaItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [nvarchar](450) NOT NULL,
	[ArtistId] [int] NULL,
	[AlbumId] [int] NULL,
	[Title] [nvarchar](450) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MediaType] [nvarchar](450) NOT NULL,
	[Genre] [nvarchar](max) NULL,
	[DurationSeconds] [int] NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[ExternalUrl] [nvarchar](max) NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[MimeType] [nvarchar](max) NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[Visibility] [nvarchar](450) NOT NULL,
	[PlayCount] [int] NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AudioFilePath] [nvarchar](max) NULL,
	[VideoFilePath] [nvarchar](max) NULL,
	[Lyrics] [nvarchar](max) NULL,
	[VideoTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_MediaItems] PRIMARY KEY CLUSTERED 
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaShares](
	[MediaShareId] [bigint] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [nvarchar](450) NOT NULL,
	[ReceiverUserId] [nvarchar](450) NOT NULL,
	[MediaItemId] [bigint] NULL,
	[PlaylistId] [bigint] NULL,
	[Message] [nvarchar](max) NULL,
	[ShareType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[IsRevoked] [bit] NOT NULL,
 CONSTRAINT [PK_MediaShares] PRIMARY KEY CLUSTERED 
(
	[MediaShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaTags](
	[MediaTagId] [bigint] IDENTITY(1,1) NOT NULL,
	[MediaItemId] [bigint] NOT NULL,
	[TagName] [nvarchar](80) NOT NULL,
	[Confidence] [decimal](5, 4) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MediaTags] PRIMARY KEY CLUSTERED 
(
	[MediaTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReferenceId] [bigint] NULL,
	[ActionUrl] [nvarchar](max) NULL,
	[SenderUserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayHistories](
	[PlayHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[MediaItemId] [bigint] NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[LastPlayedAt] [datetime2](7) NOT NULL,
	[ProgressSeconds] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[DeviceInfo] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_PlayHistories] PRIMARY KEY CLUSTERED 
(
	[PlayHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[PlaylistId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CoverImageUrl] [nvarchar](max) NULL,
	[Visibility] [nvarchar](450) NOT NULL,
	[IsCollaborative] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistTracks](
	[PlaylistTrackId] [bigint] IDENTITY(1,1) NOT NULL,
	[PlaylistId] [bigint] NOT NULL,
	[MediaItemId] [bigint] NOT NULL,
	[Position] [int] NOT NULL,
	[AddedByUserId] [nvarchar](450) NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PlaylistTracks] PRIMARY KEY CLUSTERED 
(
	[PlaylistTrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[WebsiteUrl] [nvarchar](max) NULL,
	[FacebookUrl] [nvarchar](max) NULL,
	[PrivacyLevel] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260612220131_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260613161941_MakeArtistIdNullable', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260615204352_AddBioAndAvatarUrlToUserProfile', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([AlbumId], [ArtistId], [Title], [Slug], [Description], [CoverImageUrl], [ReleaseDate], [AlbumType], [CreatedAt], [UpdatedAt]) VALUES (1, 5, N'Sơn Tùng M-TP Collection', N'son-tung-m-tp-collection', N'Tuyển tập các bài hát của Sơn Tùng M-TP', N'/media/image/default-cover.svg', CAST(N'2026-06-19T00:00:00.0000000' AS DateTime2), N'Compilation', CAST(N'2026-06-19T19:45:24.3471725' AS DateTime2), CAST(N'2026-06-25T19:09:03.8331372' AS DateTime2))
INSERT [dbo].[Albums] ([AlbumId], [ArtistId], [Title], [Slug], [Description], [CoverImageUrl], [ReleaseDate], [AlbumType], [CreatedAt], [UpdatedAt]) VALUES (2, 6, N'Vũ. Collection', N'vu-collection', N'Tuyển tập các bài hát của Vũ.', N'/media/image/default-cover.svg', CAST(N'2026-06-19T00:00:00.0000000' AS DateTime2), N'Compilation', CAST(N'2026-06-19T19:45:24.3471725' AS DateTime2), CAST(N'2026-06-25T19:09:03.8331372' AS DateTime2))
INSERT [dbo].[Albums] ([AlbumId], [ArtistId], [Title], [Slug], [Description], [CoverImageUrl], [ReleaseDate], [AlbumType], [CreatedAt], [UpdatedAt]) VALUES (3, 7, N'Đen Collection', N'den-collection', N'Tuyển tập các bài hát của Đen', N'/media/image/default-cover.svg', CAST(N'2026-06-19T00:00:00.0000000' AS DateTime2), N'Compilation', CAST(N'2026-06-19T19:45:24.3471725' AS DateTime2), CAST(N'2026-06-25T19:09:03.8331372' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[ArtistManagers] ON 

INSERT [dbo].[ArtistManagers] ([ArtistManagerId], [ArtistId], [UserId], [Role], [CreatedAt]) VALUES (1, 5, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'Owner', CAST(N'2026-06-23T17:27:55.0098556' AS DateTime2))
INSERT [dbo].[ArtistManagers] ([ArtistManagerId], [ArtistId], [UserId], [Role], [CreatedAt]) VALUES (2, 6, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'Owner', CAST(N'2026-06-23T17:27:55.0098556' AS DateTime2))
INSERT [dbo].[ArtistManagers] ([ArtistManagerId], [ArtistId], [UserId], [Role], [CreatedAt]) VALUES (3, 7, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'Owner', CAST(N'2026-06-23T17:27:55.0098556' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ArtistManagers] OFF
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([ArtistId], [Name], [Slug], [Bio], [Country], [ImageUrl], [IsVerified], [CreatedAt], [UpdatedAt], [AvatarUrl]) VALUES (5, N'Sơn Tùng M-TP', N'son-tung-m-tp', NULL, NULL, N'/media/image/artist-cover/9493c0f222354d75a07b3086b2afc956.jpg', 0, CAST(N'2026-06-16T18:13:52.3804209' AS DateTime2), CAST(N'2026-06-24T16:51:41.4480498' AS DateTime2), N'/media/image/artist-avatar/7675e92d429c4fcfbc98466ecee6ff5d.jpg')
INSERT [dbo].[Artists] ([ArtistId], [Name], [Slug], [Bio], [Country], [ImageUrl], [IsVerified], [CreatedAt], [UpdatedAt], [AvatarUrl]) VALUES (6, N'Vũ.', N'vu', NULL, NULL, NULL, 0, CAST(N'2026-06-16T18:13:52.3804209' AS DateTime2), CAST(N'2026-06-16T18:13:53.6732540' AS DateTime2), NULL)
INSERT [dbo].[Artists] ([ArtistId], [Name], [Slug], [Bio], [Country], [ImageUrl], [IsVerified], [CreatedAt], [UpdatedAt], [AvatarUrl]) VALUES (7, N'Đen', N'den', NULL, NULL, N'/media/image/artist-cover/844ba93fd8a04fd9bc6dbe8f58b41da9.jpg', 0, CAST(N'2026-06-16T18:13:52.3804209' AS DateTime2), CAST(N'2026-06-24T19:46:34.5257089' AS DateTime2), N'/media/image/artist-avatar/c0eaa9d4b9aa4b5091360abb76ebc699.jpg')
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [MediaItemId], [CreatedAt]) VALUES (9, N'02d362d0-7df8-44ad-9e68-3032add894f4', 9, CAST(N'2026-06-19T02:58:01.7193193' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [MediaItemId], [CreatedAt]) VALUES (13, N'5a52b4c3-75f8-4db9-84ab-3a67ccffc346', 27, CAST(N'2026-06-19T03:34:27.4724738' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [MediaItemId], [CreatedAt]) VALUES (16, N'a9836f43-797b-4d83-9e54-1b013fc92025', 10, CAST(N'2026-06-25T08:01:39.1820314' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[Follows] ON 

INSERT [dbo].[Follows] ([FollowId], [FollowerUserId], [TargetUserId], [TargetArtistId], [CreatedAt]) VALUES (4, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'a9836f43-797b-4d83-9e54-1b013fc92025', NULL, CAST(N'2026-06-19T02:23:31.2309843' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Follows] OFF
GO
INSERT [dbo].[MediaArtists] ([MediaItemId], [ArtistId], [Role], [Position], [CreatedAt]) VALUES (1, 5, N'Primary', 0, CAST(N'2026-06-24T18:20:31.0676739' AS DateTime2))
INSERT [dbo].[MediaArtists] ([MediaItemId], [ArtistId], [Role], [Position], [CreatedAt]) VALUES (2, 6, N'Primary', 0, CAST(N'2026-06-24T18:20:31.0676739' AS DateTime2))
INSERT [dbo].[MediaArtists] ([MediaItemId], [ArtistId], [Role], [Position], [CreatedAt]) VALUES (3, 7, N'Primary', 0, CAST(N'2026-06-24T18:20:31.0676739' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[MediaItems] ON 

SET IDENTITY_INSERT [dbo].[MediaItems] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaShares] ON 

INSERT [dbo].[MediaShares] ([MediaShareId], [SenderUserId], [ReceiverUserId], [MediaItemId], [PlaylistId], [Message], [ShareType], [CreatedAt], [RevokedAt], [IsRevoked]) VALUES (2, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'02d362d0-7df8-44ad-9e68-3032add894f4', 7, NULL, N'test share', N'Media', CAST(N'2026-06-17T14:19:18.5600280' AS DateTime2), NULL, 0)
INSERT [dbo].[MediaShares] ([MediaShareId], [SenderUserId], [ReceiverUserId], [MediaItemId], [PlaylistId], [Message], [ShareType], [CreatedAt], [RevokedAt], [IsRevoked]) VALUES (3, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'02d362d0-7df8-44ad-9e68-3032add894f4', 9, NULL, N'tessttt', N'Media', CAST(N'2026-06-17T14:47:35.4437617' AS DateTime2), NULL, 0)
INSERT [dbo].[MediaShares] ([MediaShareId], [SenderUserId], [ReceiverUserId], [MediaItemId], [PlaylistId], [Message], [ShareType], [CreatedAt], [RevokedAt], [IsRevoked]) VALUES (6, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'a9836f43-797b-4d83-9e54-1b013fc92025', 7, NULL, NULL, N'Media', CAST(N'2026-06-17T16:17:09.0933617' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[MediaShares] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [ReferenceId], [ActionUrl], [SenderUserId]) VALUES (1, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'MediaShare', N'Bạn vừa được chia sẻ một bài hát', N'Test', 0, CAST(N'2026-06-17T14:18:28.7434115' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [ReferenceId], [ActionUrl], [SenderUserId]) VALUES (2, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'MediaShare', N'Bạn vừa được chia sẻ một bài hát', N'test share', 0, CAST(N'2026-06-17T14:19:18.5688095' AS DateTime2), 2, NULL, NULL)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [ReferenceId], [ActionUrl], [SenderUserId]) VALUES (3, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'MediaShare', N'Bạn vừa được chia sẻ một bài hát', N'tessttt', 0, CAST(N'2026-06-17T14:47:35.7531117' AS DateTime2), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayHistories] ON 

INSERT [dbo].[PlayHistories] ([PlayHistoryId], [UserId], [MediaItemId], [StartedAt], [LastPlayedAt], [ProgressSeconds], [IsCompleted], [DeviceInfo], [IpAddress]) VALUES (3, N'a9836f43-797b-4d83-9e54-1b013fc92025', 1, CAST(N'2026-06-18T19:10:45.3416312' AS DateTime2), CAST(N'2026-06-25T15:45:06.5578299' AS DateTime2), 0, 0, NULL, NULL)
INSERT [dbo].[PlayHistories] ([PlayHistoryId], [UserId], [MediaItemId], [StartedAt], [LastPlayedAt], [ProgressSeconds], [IsCompleted], [DeviceInfo], [IpAddress]) VALUES (7, N'a9836f43-797b-4d83-9e54-1b013fc92025', 9, CAST(N'2026-06-18T20:15:15.9400457' AS DateTime2), CAST(N'2026-06-25T15:32:24.2291115' AS DateTime2), 0, 0, NULL, NULL)
INSERT [dbo].[PlayHistories] ([PlayHistoryId], [UserId], [MediaItemId], [StartedAt], [LastPlayedAt], [ProgressSeconds], [IsCompleted], [DeviceInfo], [IpAddress]) VALUES (8, N'02d362d0-7df8-44ad-9e68-3032add894f4', 3, CAST(N'2026-06-19T02:18:58.1133895' AS DateTime2), CAST(N'2026-06-19T03:09:37.2942805' AS DateTime2), 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PlayHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([PlaylistId], [OwnerUserId], [Title], [Slug], [Description], [CoverImageUrl], [Visibility], [IsCollaborative], [CreatedAt], [UpdatedAt]) VALUES (1, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'V-Pop Hay Nhất 2025', N'', N'Tuyển tập các bài hát V-Pop nổi bật', N'/media/image/vpop.jpg', N'Public', 0, CAST(N'2026-06-16T12:43:05.6862221' AS DateTime2), CAST(N'2026-06-25T19:09:03.8331372' AS DateTime2))
INSERT [dbo].[Playlists] ([PlaylistId], [OwnerUserId], [Title], [Slug], [Description], [CoverImageUrl], [Visibility], [IsCollaborative], [CreatedAt], [UpdatedAt]) VALUES (2, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'Nhạc Chill Buổi Tối', N'', N'Những bản ballad nhẹ nhàng', NULL, N'Public', 0, CAST(N'2026-06-16T12:43:05.6862221' AS DateTime2), CAST(N'2026-06-16T12:43:07.8314532' AS DateTime2))
INSERT [dbo].[Playlists] ([PlaylistId], [OwnerUserId], [Title], [Slug], [Description], [CoverImageUrl], [Visibility], [IsCollaborative], [CreatedAt], [UpdatedAt]) VALUES (4, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'Rap Việt', N'', N'Các bài hát hot nhất', N'/media/image/rap.jpg', N'Public', 0, CAST(N'2026-06-17T17:49:40.8533938' AS DateTime2), CAST(N'2026-06-25T19:09:03.8331372' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaylistTracks] ON 

INSERT [dbo].[PlaylistTracks] ([PlaylistTrackId], [PlaylistId], [MediaItemId], [Position], [AddedByUserId], [AddedAt]) VALUES (234, 2, 3, 1, N'02d362d0-7df8-44ad-9e68-3032add894f4', CAST(N'2026-06-19T02:18:48.6069475' AS DateTime2))
INSERT [dbo].[PlaylistTracks] ([PlaylistTrackId], [PlaylistId], [MediaItemId], [Position], [AddedByUserId], [AddedAt]) VALUES (235, 2, 10, 2, N'02d362d0-7df8-44ad-9e68-3032add894f4', CAST(N'2026-06-19T02:18:49.8181557' AS DateTime2))
INSERT [dbo].[PlaylistTracks] ([PlaylistTrackId], [PlaylistId], [MediaItemId], [Position], [AddedByUserId], [AddedAt]) VALUES (236, 2, 1, 3, N'02d362d0-7df8-44ad-9e68-3032add894f4', CAST(N'2026-06-19T02:18:50.7920313' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PlaylistTracks] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([UserProfileId], [UserId], [FullName], [CoverImageUrl], [City], [Country], [WebsiteUrl], [FacebookUrl], [PrivacyLevel], [CreatedAt], [UpdatedAt], [AvatarUrl], [Bio]) VALUES (1, N'a9836f43-797b-4d83-9e54-1b013fc92025', N'Phạm Văn Tâm', NULL, NULL, NULL, NULL, NULL, N'Public', CAST(N'2026-06-16T12:43:05.6862221' AS DateTime2), CAST(N'2026-06-24T17:32:10.7885402' AS DateTime2), N'/media/avatar/7e2bba66af124494b74ac187a301d646.jpg', N'abc')
INSERT [dbo].[UserProfiles] ([UserProfileId], [UserId], [FullName], [CoverImageUrl], [City], [Country], [WebsiteUrl], [FacebookUrl], [PrivacyLevel], [CreatedAt], [UpdatedAt], [AvatarUrl], [Bio]) VALUES (2, N'02d362d0-7df8-44ad-9e68-3032add894f4', N'Nguyễn Văn A', NULL, NULL, NULL, NULL, NULL, N'Public', CAST(N'2026-06-16T12:43:05.6862221' AS DateTime2), CAST(N'2026-06-19T02:51:45.2505989' AS DateTime2), NULL, N'')
INSERT [dbo].[UserProfiles] ([UserProfileId], [UserId], [FullName], [CoverImageUrl], [City], [Country], [WebsiteUrl], [FacebookUrl], [PrivacyLevel], [CreatedAt], [UpdatedAt], [AvatarUrl], [Bio]) VALUES (3, N'4048788e-602a-4615-b299-f23674479156', N'Hoàng Minh Anh', NULL, NULL, NULL, NULL, NULL, N'Public', CAST(N'2026-06-17T12:01:00.5996821' AS DateTime2), CAST(N'2026-06-17T12:01:00.5998009' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
GO

CREATE NONCLUSTERED INDEX [IX_Albums_ArtistId] ON [dbo].[Albums]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Albums_ReleaseDate_AlbumType] ON [dbo].[Albums]
(
	[ReleaseDate] ASC,
	[AlbumType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_ArtistManagers_ArtistId_UserId] ON [dbo].[ArtistManagers]
(
	[ArtistId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_ArtistManagers_UserId] ON [dbo].[ArtistManagers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Artists_Name] ON [dbo].[Artists]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_Artists_Slug] ON [dbo].[Artists]
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Favorites_MediaItemId] ON [dbo].[Favorites]
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_Favorites_UserId_MediaItemId] ON [dbo].[Favorites]
(
	[UserId] ASC,
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Follows_FollowerUserId] ON [dbo].[Follows]
(
	[FollowerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Follows_TargetArtistId] ON [dbo].[Follows]
(
	[TargetArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Follows_TargetUserId] ON [dbo].[Follows]
(
	[TargetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaArtists_ArtistId] ON [dbo].[MediaArtists]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaArtists_MediaItemId_Position] ON [dbo].[MediaArtists]
(
	[MediaItemId] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaItems_AlbumId] ON [dbo].[MediaItems]
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaItems_ArtistId] ON [dbo].[MediaItems]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_MediaItems_MediaType_Visibility] ON [dbo].[MediaItems]
(
	[MediaType] ASC,
	[Visibility] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_MediaItems_OwnerUserId] ON [dbo].[MediaItems]
(
	[OwnerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_MediaItems_Title] ON [dbo].[MediaItems]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaShares_MediaItemId] ON [dbo].[MediaShares]
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaShares_PlaylistId] ON [dbo].[MediaShares]
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_MediaShares_ReceiverUserId_CreatedAt] ON [dbo].[MediaShares]
(
	[ReceiverUserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_MediaShares_SenderUserId_CreatedAt] ON [dbo].[MediaShares]
(
	[SenderUserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_MediaTags_MediaItemId] ON [dbo].[MediaTags]
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead_CreatedAt] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_PlayHistories_MediaItemId] ON [dbo].[PlayHistories]
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_PlayHistories_UserId_LastPlayedAt] ON [dbo].[PlayHistories]
(
	[UserId] ASC,
	[LastPlayedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Playlists_OwnerUserId] ON [dbo].[Playlists]
(
	[OwnerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_Playlists_Visibility_CreatedAt] ON [dbo].[Playlists]
(
	[Visibility] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_PlaylistTracks_AddedByUserId] ON [dbo].[PlaylistTracks]
(
	[AddedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_PlaylistTracks_MediaItemId] ON [dbo].[PlaylistTracks]
(
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_PlaylistTracks_PlaylistId_MediaItemId] ON [dbo].[PlaylistTracks]
(
	[PlaylistId] ASC,
	[MediaItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_UserProfiles_UserId] ON [dbo].[UserProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArtistManagers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MediaArtists] ADD  CONSTRAINT [DF_MediaArtists_Role]  DEFAULT (N'Primary') FOR [Role]
GO
ALTER TABLE [dbo].[MediaArtists] ADD  CONSTRAINT [DF_MediaArtists_Position]  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[MediaArtists] ADD  CONSTRAINT [DF_MediaArtists_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Artists_ArtistId]
GO
ALTER TABLE [dbo].[ArtistManagers]  WITH CHECK ADD  CONSTRAINT [FK_ArtistManagers_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistManagers] CHECK CONSTRAINT [FK_ArtistManagers_Artists_ArtistId]
GO
ALTER TABLE [dbo].[ArtistManagers]  WITH CHECK ADD  CONSTRAINT [FK_ArtistManagers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistManagers] CHECK CONSTRAINT [FK_ArtistManagers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_Artists_TargetArtistId] FOREIGN KEY([TargetArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_Artists_TargetArtistId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_AspNetUsers_FollowerUserId] FOREIGN KEY([FollowerUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_AspNetUsers_FollowerUserId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_AspNetUsers_TargetUserId] FOREIGN KEY([TargetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_AspNetUsers_TargetUserId]
GO
ALTER TABLE [dbo].[MediaArtists]  WITH CHECK ADD  CONSTRAINT [FK_MediaArtists_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaArtists] CHECK CONSTRAINT [FK_MediaArtists_Artists_ArtistId]
GO
ALTER TABLE [dbo].[MediaArtists]  WITH CHECK ADD  CONSTRAINT [FK_MediaArtists_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaArtists] CHECK CONSTRAINT [FK_MediaArtists_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[MediaItems]  WITH CHECK ADD  CONSTRAINT [FK_MediaItems_Albums_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MediaItems] CHECK CONSTRAINT [FK_MediaItems_Albums_AlbumId]
GO
ALTER TABLE [dbo].[MediaItems]  WITH CHECK ADD  CONSTRAINT [FK_MediaItems_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[MediaItems] CHECK CONSTRAINT [FK_MediaItems_Artists_ArtistId]
GO
ALTER TABLE [dbo].[MediaItems]  WITH CHECK ADD  CONSTRAINT [FK_MediaItems_AspNetUsers_OwnerUserId] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MediaItems] CHECK CONSTRAINT [FK_MediaItems_AspNetUsers_OwnerUserId]
GO
ALTER TABLE [dbo].[MediaShares]  WITH CHECK ADD  CONSTRAINT [FK_MediaShares_AspNetUsers_ReceiverUserId] FOREIGN KEY([ReceiverUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MediaShares] CHECK CONSTRAINT [FK_MediaShares_AspNetUsers_ReceiverUserId]
GO
ALTER TABLE [dbo].[MediaShares]  WITH CHECK ADD  CONSTRAINT [FK_MediaShares_AspNetUsers_SenderUserId] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MediaShares] CHECK CONSTRAINT [FK_MediaShares_AspNetUsers_SenderUserId]
GO
ALTER TABLE [dbo].[MediaShares]  WITH CHECK ADD  CONSTRAINT [FK_MediaShares_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
GO
ALTER TABLE [dbo].[MediaShares] CHECK CONSTRAINT [FK_MediaShares_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[MediaShares]  WITH CHECK ADD  CONSTRAINT [FK_MediaShares_Playlists_PlaylistId] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([PlaylistId])
GO
ALTER TABLE [dbo].[MediaShares] CHECK CONSTRAINT [FK_MediaShares_Playlists_PlaylistId]
GO
ALTER TABLE [dbo].[MediaTags]  WITH CHECK ADD  CONSTRAINT [FK_MediaTags_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaTags] CHECK CONSTRAINT [FK_MediaTags_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PlayHistories]  WITH CHECK ADD  CONSTRAINT [FK_PlayHistories_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayHistories] CHECK CONSTRAINT [FK_PlayHistories_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PlayHistories]  WITH CHECK ADD  CONSTRAINT [FK_PlayHistories_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayHistories] CHECK CONSTRAINT [FK_PlayHistories_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_AspNetUsers_OwnerUserId] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_AspNetUsers_OwnerUserId]
GO
ALTER TABLE [dbo].[PlaylistTracks]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistTracks_AspNetUsers_AddedByUserId] FOREIGN KEY([AddedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistTracks] CHECK CONSTRAINT [FK_PlaylistTracks_AspNetUsers_AddedByUserId]
GO
ALTER TABLE [dbo].[PlaylistTracks]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistTracks_MediaItems_MediaItemId] FOREIGN KEY([MediaItemId])
REFERENCES [dbo].[MediaItems] ([MediaItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistTracks] CHECK CONSTRAINT [FK_PlaylistTracks_MediaItems_MediaItemId]
GO
ALTER TABLE [dbo].[PlaylistTracks]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistTracks_Playlists_PlaylistId] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([PlaylistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistTracks] CHECK CONSTRAINT [FK_PlaylistTracks_Playlists_PlaylistId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [CK_Follow_OneTarget] CHECK  (([TargetUserId] IS NOT NULL AND [TargetArtistId] IS NULL OR [TargetUserId] IS NULL AND [TargetArtistId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [CK_Follow_OneTarget]
GO
ALTER TABLE [dbo].[MediaShares]  WITH CHECK ADD  CONSTRAINT [CK_MediaShare_OneTarget] CHECK  (([MediaItemId] IS NOT NULL AND [PlaylistId] IS NULL OR [MediaItemId] IS NULL AND [PlaylistId] IS NOT NULL))
GO
ALTER TABLE [dbo].[MediaShares] CHECK CONSTRAINT [CK_MediaShare_OneTarget]
GO
USE [master]
GO
